In [3]:
import wikipedia 
import pandas as pd 

df = pd.read_csv(r"Final list.csv")

In [4]:
df

                             Name  Gender
0      Anne Campbell (politician)  Female
1                    Mark Garnier    Male
2                    Darren Henry    Male
3                    Michael Gove    Male
4        Peter Grant (politician)    Male
...                           ...     ...
1122                 Paul Burstow    Male
1123  David Atkinson (politician)    Male
1124           Thangam Debbonaire  Female
1125        Tom Hunt (politician)    Male
1126                  Conor Burns    Male

[1127 rows x 2 columns]

In [5]:
names = df['Name']
i = 0
for name in names:
    content = wikipedia.page(name, auto_suggest=False).content
    df.at[i,'Content'] = content
    i= i+1

In [6]:
df

,Name,Gender,Content
0,Anne Campbell (politician),Female,Anne Campbell (born 6 April 1940) is an Englis...
1,Mark Garnier,Male,Mark Robert Timothy Garnier (born 26 February...
2,Darren Henry,Male,Darren George Henry (born 4 August 1968) is a ...
3,Michael Gove,Male,Michael Andrew Gove (; born Graeme Andrew Loga...
4,Peter Grant (politician),Male,Peter Grant (born 12 October 1960) is a Scotti...
...,...,...,...
1122,Paul Burstow,Male,Paul Kenneth Burstow (born 13 May 1962) is a B...
1123,David Atkinson (politician),Male,David Anthony Atkinson (24 March 1940 – 23 Jan...
1124,Thangam Debbonaire,Female,Thangam Elizabeth Rachel Debbonaire (née Singh...
1125,Tom Hunt (politician),Male,Thomas Patrick Hunt (born 31 August 1988) is a...
1126,Conor Burns,Male,Sir Conor Burns (born 24 September 1972) is a ...

In [7]:
import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.tag import pos_tag
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer 
import nltk

In [8]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\gargi\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [5]:
# Get unique lowercased name words
names = df['Name'].str.lower().str.split().explode().unique()

# Define name removal function 
def remove_names(text):
    words = text.lower().split()
    filtered = [word for word in words if word not in names]
    return " ".join(filtered)

# Apply to Content column  
df['Content'] = df['Content'].apply(remove_names)

In [6]:
from nltk.corpus import stopwords 
stop_words = set(stopwords.words('english'))

# Add custom words
stop_words.update(['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 
                  'january', 'february', 'march', 'april', 'may', 'june', 'july', 'august', 'september', 'october', 'november', 'december',
                  'would', 'could', 'should','may', 'might', 'can', 'will', 'shall', 'must', 'have', 'has', 'had', 'being', 'been', 'do', 'does', 'did', 'was',
                   'were',' be', 'am', 'were', 'was', 'shall',
                   'might', 'can', 'must', 'also', 'ever'])

In [7]:
import nltk
from nltk.corpus import stopwords

def remove_stopwords(text):
    return ' '.join([word for word in str(text).split() if word.lower() not in stop_words])

df['Content'] = df['Content'].apply(remove_stopwords)
df

,Unnamed: 0,Name,Gender,Content,tokens
0,0,Anne Campbell (politician),Female,bear party politician member parliament early ...,"[bear, party, politician, member, parliament, ..."
1,1,Mark Garnier,Male,bear conservative party politician former bank...,"[bear, conservative, party, politician, former..."
2,2,Darren Henry,Male,bear politician serve member parliament broxto...,"[bear, politician, serve, member, parliament, ..."
3,3,Michael Gove,Male,bear politician serve secretary state level ho...,"[bear, logan, politician, serve, secretary, st..."
4,4,Peter Grant (politician),Male,bear politician serve member parliament glenro...,"[bear, politician, serve, member, parliament, ..."
...,...,...,...,...,...
1122,1122,Paul Burstow,Male,bear former politician serve liberal member ch...,"[bear, former, politician, serve, liberal, mem..."
1123,1123,David Atkinson (politician),Male,conservative politician serve member parliamen...,"[conservative, politician, serve, member, parl..."
1124,1124,Thangam Debbonaire,Female,bear party politician serve shadow leader sinc...,"[bear, party, politician, serve, shadow, leade..."
1125,1125,Tom Hunt (politician),Male,bear politician serve member parliament since ...,"[bear, politician, serve, member, parliament, ..."
1126,1126,Conor Burns,Male,sir bear politician serve member parliament si...,"[sir, bear, politician, serve, member, parliam..."

In [8]:
list_names = ["johnson", "corbyn", "starmer", "truss", "sunak", "miliband", "brown", "blair", "thatcher", "cameron", "may", 
              "mandelson", "farage", "obama", "trump", "kennedy", "hitler", "churchill", "hodge", "atkin", "robinson", "hancock", 
              "pincher", "lewis", "campbell", "smith", "jones", "davis", "wilson", "clarke", "adams", "johnson", "watson", "corbyn", 
              "abbott", "starmer", "mcdonnell", "truss", "sunak", "blair", "miliband", "brown", "prescott", "mandelson", "straw", "farage", 
              "salmond", "sturgeon", "churchill", "benn", "beckett", "kinnock", "thatcher", "major", "cameron", "may", "corbyn", "johnson", 
              "attlee", "gaitskell", "callaghan", "foot", "wilson", "heath", "eden", "macmillan", "douglas-home", "chamberlain", "churchill", 
              "blair", "brown", "miliband", "major", "thatcher", "heath", "wilson", "callaghan", "cameron", "may", "macmillan", "douglas-home", 
              "attlee", "churchill", "eden", "gaitskell", "wilson", "heath", "thatcher", "foot", "kinnock", "blair", "brown", "miliband", "corbyn", 
              "major", "cameron", "may", "johnson", "macmillan", "douglas-home", "churchill", "attlee", "gaitskell", "callaghan", "wilson", "heath", 
              "thatcher", "foot", "kinnock", "blair", "brown", "miliband", "corbyn", "trump", "obama", "clinton", "bush", "reagan", "carter", 
              "nixon", "kennedy", "roosevelt", "hitler", "stalin", "mussolini", "franco", "lenin", "marx", "mao", "gandhi", "mandela", "netanyahu", 
              "abbas","begin", "arafat", "rabin", "sharon", "olmert", "perez", "guevara", "castro", "pinochet", "thatcher", "major", "blair", "brown",
              "cameron", "may", "corbyn", "johnson", "wilson", "heath", "callaghan", "attlee", "churchill", "macmillan", "eden", "douglas-home", 
              "gaitskell", "chamberlain", "blair", "brown", "miliband", "corbyn", "major", "cameron", "may", "thatcher", "heath", "wilson", 
              "callaghan", "foot", "kinnock", "attlee", "churchill", "macmillan", "eden", "douglas-home", "gaitskell", "chamberlain", "hodge", 
              "atkin", "robinson", "hancock", "pincher", "lewis", "campbell", "smith", "jones", "davis", "wilson", "clarke", "adams", "johnson", 
              "watson", "corbyn", "abbott", "starmer", "mcdonnell", "truss", "sunak", "blair", "miliband", "brown", "prescott", "mandelson", "straw", 
              "farage", "salmond", "sturgeon", "churchill", "benn", "beckett", "kinnock", "thatcher", "major", "cameron", "may", "corbyn", "johnson", 
              "attlee", "gaitskell", "callaghan", "foot", "wilson", "heath", "eden", "macmillan", "douglas-home", "chamberlain", "churchill", "blair",
              "brown", "miliband", "major", "thatcher", "heath", "wilson", "callaghan", "cameron", "may", "macmillan", "douglas-home", "attlee",
              "churchill", "eden", "gaitskell", "wilson", "heath", "thatcher", "foot", "kinnock", "blair", "brown", "miliband", "corbyn", "major",
              "cameron", "may", "johnson", "macmillan", "douglas-home", "churchill", "attlee", "gaitskell", "callaghan", "wilson", "heath", "thatcher",
              "foot", "kinnock", "blair", "brown", "miliband", "corbyn", "trump", "obama", "clinton", "bush", "reagan", "carter", "nixon", "kennedy", 
              "roosevelt", "hitler", "stalin", "mussolini", "franco", "lenin", "marx", "mao", "gandhi", "mandela", "netanyahu", "abbas","begin",
              "arafat", "rabin", "sharon", "olmert", "perez", "guevara", "castro", "pinochet", "thatcher", "major", "blair", "brown", "cameron",
              "may", "corbyn", "johnson", "wilson", "heath", "callaghan", "attlee", "churchill", "macmillan", "eden", "douglas-home", "gaitskell",
              "chamberlain", "blair", "brown", "miliband", "corbyn", "major", "cameron", "may", "thatcher", "heath", "wilson", "callaghan", "foot",
              "kinnock", "attlee", "churchill", "macmillan", "eden", "douglas", "gaitskell", "chamberlain","dorrie", "debbonaire", "mcdoungh"]

In [9]:
list_locations = ["scotland", "wales", "england", "ireland", "london", "falkland","manchester","westminster", "leeds", "glasgow", "edinburgh", "cardiff", "belfast", "sheffield", "birmingham", "liverpool", "sunderland", "newport", "swansea", "aberdeen", "cambridge", "oxford", "york", "brighton", "norwich", "nottingham", "leicester", "bristol", "reading", "loughborough", "southampton", "plymouth", "lancaster", "dundee", "portsmouth", "derby", "wolverhampton", "stoke-on-trent", "coventry", "bradford", "hull", "preston", "blackpool", "gloucester", "bournemouth", "northampton", "swindon", "southend-on-sea", "wigan", "ipswich", "blackburn", "walsall", "mansfield", "telford", "middlesbrough", "hastings", "nuneaton", "chester", "cambridge", "canterbury", "exeter", "durham", "york", "lancaster", "bangor", "aberystwyth", "st", "andrews", "stirling", "glasgow", "edinburgh", "dundee", "aberdeen", "cardiff", "swansea", "lampeter", "coleraine", "belfast", "galway", "cork", "dublin", "maynooth", "derry", "salford", "liverpool", "manchester", "leeds", "sheffield", "newcastle", "sunderland", "middlesbrough", "hull", "york", "nottingham", "leicester", "birmingham", "coventry", "oxford", "cambridge", "london", "bristol", "southampton", "portsmouth", "norwich", "edinburgh", "glasgow", "dundee", "aberdeen", "inverness", "stirling", "cardiff", "swansea", "bangor", "lampeter", "belfast", "coleraine", "galway", "cork", "dublin", "maynooth", "england", "scotland", "wales", "northern", "ireland", "ireland", "london", "yorkshire", "lancashire", "midlands", "anglia", "west","country", "north", "east", "north","west", "south east", "south","west", "scotland", "wales", "england", "ireland", "london", "manchester", "leeds", "glasgow", "edinburgh", "cardiff", "belfast", "sheffield", "birmingham", "liverpool", "sunderland", "newport", "swansea", "aberdeen", "cambridge", "oxford", "york", "brighton", "norwich", "nottingham", "leicester", "bristol", "reading", "loughborough", "southampton", "plymouth", "lancaster", "dundee", "portsmouth", "derby", "wolverhampton", "stokeontrent", "coventry", "bradford", "hull", "preston", "blackpool", "gloucester", "bournemouth", "northampton", "swindon", "southendonsea", "wigan", "ipswich", "blackburn", "walsall", "mansfield", "telford", "middlesbrough", "hastings", "nuneaton", "chester", "cambridge", "canterbury", "exeter", "durham", "york", "lancaster", "bangor", "aberystwyth", "st andrews", "stirling", "glasgow", "edinburgh", "dundee", "aberdeen", "cardiff", "swansea", "lampeter", "coleraine", "belfast", "galway", "cork", "dublin", "maynooth", "derry", "salford", "liverpool", "manchester", "leeds", "sheffield", "newcastle", "sunderland", "middlesbrough", "hull", "york", "nottingham", "leicester", "birmingham", "coventry", "oxford", "cambridge", "london", "bristol", "southampton", "portsmouth", "norwich", "edinburgh", "glasgow", "dundee", "aberdeen", "inverness", "stirling", "cardiff", "swansea", "bangor", "lampeter", "belfast", "coleraine", "galway", "cork", "dublin", "maynooth", "england", "scotland", "wales", "northern", "ireland", "ireland", "london", "yorkshire", "lancashire", "midlands", "anglia", "west country", "east", "north", "west", "south", "dunfermline","south","west", "buckinghamshire"]

In [10]:
set1 = set(list_names)
set2 = set(list_locations)

# Define name removal function 
def remove_names(text):
    words = text.lower().split()
    filtered = [word for word in words if word not in set1]
    return " ".join(filtered)

# Apply to Content column  
df['Content'] = df['Content'].apply(remove_names)

# Define name removal function 
def remove_names(text):
    words = text.lower().split()
    filtered = [word for word in words if word not in set2]
    return " ".join(filtered)

# Apply to Content column  
df['Content'] = df['Content'].apply(remove_names)

In [11]:
proper_nouns = ['british', 'scottish', 'welsh', 'read', 'european', 'westminster', 'irish', 'jewish', 'th', 'britain', 'borough', 'shropshire', 'cambridgeshire', 'shropshire', 'cumbria', 'derbyshire', 'dewsbury', 'swansea', 'bermondsey', 'herefordshire',
                'dodd','hammersmith', 'staffordshire', 'liverpool', 'australian','dunfermline','leicester', 'falkland', 'dewsbury', 
                'harwich','gloucestershire', 'german','galloways', 'bedfordshire', 'murphy', 'bercow',  'debrett', 'galloway','also', 'chester','trump',
                'leed', 'english', 'russian', 'jackson', 'either', 'israeli', 'cymru', 'essex', 'muslim', 'derbyshire','trump','borough'
                'syrian', 'davy', 'patel', 'gove', 'american', 'sussex', 'eastbourne', 'livingstone', 'palestinian', 'german','howard','berkshire','debberett'
                'staffordshire', 'tyrone', 'yearold', 'hague', 'christian', 'suffolk', 'thame', 'rayner', 'clare', 'scot', 'african','farange',
                'osborne', 'paisley','wakefield', 'shropshire','southwark', 'cambridgeshire', 'asian', 'falmouth','wirral','stonewall',
                'hertfordshire', 'peterborough', 'chinese', 'dunbartonshire', 'devize', 'heathrow', 'pende', 'italian', 'cumbria', 'saudi', 'batley', 'ayrshire', 'islamic', 'gloucestershire', 'hampstead', 'merseyside' , 'strathclyde', 'battersea', 'wiltshire', 'huhne', 'kent', 'berkshire', 'croydon', 'iraqi', 'keir', 'lincolnshire',
                'adam', 'trusss', 'leicestershire', 'dorset', 'hillsborough', 'fermanagh', 'spanish', 'emily', 'kennedys', 'worcestershire', 'solihull', 'nottinghamshire', 'corbyns', 'lanarkshire','dumfrie', 'borwick', 'whitehall', 'ukrainian',  'tyne', 'rochdale', 'tyneside', 'spen', 'camborne', 'bootle', 'oxfordshire', 'bethnal', 'northamptonshire', 'bedford' , 'warwick', 'redcar', 'phillip', 'hedda', 'albee', 'hopkin', 'wandsworth',
                'galloway', 'pembrokeshire', 'brecon', 'enfield', 'dorrie', 'gray', 'bahrain', 'vauxhall', 'blairite', 'putney', 'terence', 'chiltern', 'gibraltar', 'lyon', 'colchester', 'grimsby', 'salisbury', 'defra', 'kelly', 'heeley', 'israel', 'oneill', 'griffith', 'stevenage','thatchetrite', 'cornwall', 'libyan', 'perthshire', 'randnorshire', 'stockport', 'leone', 'surbiton', 'holyrood', 'hartlepool', 'ansell', 'barack', 'indian', 'sutton', 'iranian', 'bailiff', 'barnet', 'france', 'guildford', 'trevor', 'bercow', 'falkland', 'briton', 'gabler', 'lear', 'russell', 'broadway', 'prentis', 
                'french', 'maidstone', 'dodd', 'diane', 'patrick', 'reesmogg', 'doncaster', 'eastleigh','ireland', 'keighley', 'chuka', 'leveson', 'berger', 'austrailian', 'coatbridge', 'handasworth', 'rory', 'davey', 'limehouse', 'ie', 'gateshead', 'howard', 'londoner', 'chichester', 'moffat', 'mullender', 'onwurah', 'millfield', 'wallsend', 'trent', 'hewitt', 'thornberry', 'birkbeck', 'northumberland', 'swinson', 'banbury', 'assange', 'selly', 'castleford', 'ussher', 'moran', 'richard', 'bryant', 'tebbit', 'gwent', 'killburn', 'anglesey', 'cannoack', 'redtruth', 'galloways', 'pancra' , 'hornchurch', 'armstrong', 'holborn', 'scarborough', 'canadian', 'olivi', 'buckfast', 'ellesmere', 'mulgrove', 'bagshawe', 'wythenshawe',
                'northstead', 'laurence', 'hornsey', 'anglican', 'rhondda', 'warsi', 'montgomeryshire', 'philip', 'pudsey', 'scotsman', 'pakistani', 'hobhouse', 'kilmarnock', 'legg', 'alastair', 'daventry', 
                'mo', 'daviesjone', 'staine', 'coad', 'sandhurst', 'warwickshire', 'burnham', 'noke' , 'grayle', 'folkestone', 'arabian', 'wellingborough', 'greenock', 'cochaire', 'sedgefield', 'worthe', 
                'paterson','lot', 'fife' 'falkirk', 'leadsom', 'jarrow', 'rifkind', 'edmund', 'starmer','glasgow', 'clarke','miliband','external', 'link', 'reference', 'theyworkforyou','wale', 'roman', 'spencer', 'braverman', 'handsworth', 'mcbride', 'rishi']

set3 = set(proper_nouns)

# Define name removal function 
def remove_names(text):
    words = text.lower().split()
    filtered = [word for word in words if word not in set3]
    return " ".join(filtered)

# Apply to Content column  
df['Content'] = df['Content'].apply(remove_names)

In [47]:
#punctuation removal 
import string
import re

def remove_punctuation(input_string):
    # Make a regular expression that matches punctuations
    punct = re.compile('[%s]' % re.escape(string.punctuation))
    
    # Use the sub function to replace the matched string with ''
    return punct.sub('', input_string)

df['Content'] = df['Content'].apply(remove_punctuation)

#lower case 
df['Content'] = df['Content'].str.lower()

#symbols and numbers(special characters)
import re
def remove_symbols_numbers(text):
    return re.sub('[^a-zA-Z]', ' ', str(text))

df['Content'] = df['Content'].apply(remove_symbols_numbers)

#Stopwords english removal
import nltk
from nltk.corpus import stopwords

stop_words = set(stopwords.words('english'))

def remove_stopwords(text):
    return ' '.join([word for word in str(text).split() if word.lower() not in stop_words])

df['Content'] = df['Content'].apply(remove_stopwords)
df

,Name,Gender,Content,tokens
0,Anne Campbell (politician),Female,bear party politician member parliament early ...,"[bear, party, politician, member, parliament, ..."
1,Mark Garnier,Male,bear conservative party politician former bank...,"[bear, conservative, party, politician, former..."
2,Darren Henry,Male,bear politician serve member parliament broxto...,"[bear, politician, serve, member, parliament, ..."
3,Michael Gove,Male,bear logan politician serve secretary state le...,"[bear, logan, politician, serve, secretary, st..."
4,Peter Grant (politician),Male,bear politician serve member parliament glenro...,"[bear, politician, serve, member, parliament, ..."
...,...,...,...,...
1122,Paul Burstow,Male,bear former politician serve liberal member ch...,"[bear, former, politician, serve, liberal, mem..."
1123,David Atkinson (politician),Male,conservative politician serve member parliamen...,"[conservative, politician, serve, member, parl..."
1124,Thangam Debbonaire,Female,bear party politician serve shadow leader sinc...,"[bear, party, politician, serve, shadow, leade..."
1125,Tom Hunt (politician),Male,bear politician serve member parliament since ...,"[bear, politician, serve, member, parliament, ..."
1126,Conor Burns,Male,sir bear politician serve member parliament si...,"[sir, bear, politician, serve, member, parliam..."

In [48]:
#proper noun removal
import spacy

nlp = spacy.load('en_core_web_sm')


def remove_proper_nouns(text):
    doc = nlp(text)
    tokens = [token.text for token in doc if token.pos_ != 'PROPN']
    return " ".join(tokens)

df['Content'] = df['Content'].apply(remove_proper_nouns)
df

,Name,Gender,Content,tokens
0,Anne Campbell (politician),Female,politician member parliament early life study ...,"[bear, party, politician, member, parliament, ..."
1,Mark Garnier,Male,bear conservative party politician former bank...,"[bear, conservative, party, politician, former..."
2,Darren Henry,Male,politician serve member parliament broxtowe si...,"[bear, politician, serve, member, parliament, ..."
3,Michael Gove,Male,politician serve secretary state level housing...,"[bear, logan, politician, serve, secretary, st..."
4,Peter Grant (politician),Male,politician serve member parliament glenrothe s...,"[bear, politician, serve, member, parliament, ..."
...,...,...,...,...
1122,Paul Burstow,Male,bear former politician serve liberal member ch...,"[bear, former, politician, serve, liberal, mem..."
1123,David Atkinson (politician),Male,conservative politician serve member parliamen...,"[conservative, politician, serve, member, parl..."
1124,Thangam Debbonaire,Female,politician serve shadow leader since previousl...,"[bear, party, politician, serve, shadow, leade..."
1125,Tom Hunt (politician),Male,politician serve member parliament since membe...,"[bear, politician, serve, member, parliament, ..."
1126,Conor Burns,Male,serve member parliament since member conservat...,"[sir, bear, politician, serve, member, parliam..."

In [49]:
#lemmatization 
import spacy

nlp = spacy.load('en_core_web_sm')

def lemmatize_text(text):
    doc = nlp(text)
    return " ".join([token.lemma_ for token in doc])

df['Content'] = df['Content'].apply(lemmatize_text)

In [50]:
df

,Name,Gender,Content,tokens
0,Anne Campbell (politician),Female,politician member parliament early life study ...,"[bear, party, politician, member, parliament, ..."
1,Mark Garnier,Male,bear conservative party politician former bank...,"[bear, conservative, party, politician, former..."
2,Darren Henry,Male,politician serve member parliament broxtowe si...,"[bear, politician, serve, member, parliament, ..."
3,Michael Gove,Male,politician serve secretary state level housing...,"[bear, logan, politician, serve, secretary, st..."
4,Peter Grant (politician),Male,politician serve member parliament glenrothe s...,"[bear, politician, serve, member, parliament, ..."
...,...,...,...,...
1122,Paul Burstow,Male,bear former politician serve liberal member ch...,"[bear, former, politician, serve, liberal, mem..."
1123,David Atkinson (politician),Male,conservative politician serve member parliamen...,"[conservative, politician, serve, member, parl..."
1124,Thangam Debbonaire,Female,politician serve shadow leader since previousl...,"[bear, party, politician, serve, shadow, leade..."
1125,Tom Hunt (politician),Male,politician serve member parliament since membe...,"[bear, politician, serve, member, parliament, ..."
1126,Conor Burns,Male,serve member parliament since member conservat...,"[sir, bear, politician, serve, member, parliam..."

In [1]:
df.to_csv('ogsample.csv')